.App {
  text-align: center;
}
.nav-bar {
border: 1px solid black;
height: 55px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
padding-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.style {
  padding: 30px;
  border-radius: 10px;
}
/* home page component*/

.home-body {
  display: flex;
  justify-content: space-evenly;
}

.job-table {
  border: 1px solid black;
}

.other-job {
  border: 1px solid black;
}

.table-content {
  padding: 5px;
}


.login {
  background-color: #17ac83;
  color: white;
  border-radius: 5px;
  border:#17ac83;
  padding: 8px;
  margin: 5px;
}

.signup {
  background-color: #17ac83;
  color: white;
  border-radius: 5px;
  border:#17ac83;
  padding: 8px;
  margin: 5px;
}

.errors {
  color: red;
}

#nav-bar-container {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.title {
  background-color: #17ac83;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.links{
  padding: 10px;
  margin: 10px;
  background-color: #17ac83;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.view-container{
  border-radius: 5px;
  border: 1px solid black;
}

.btn {
  background-color: #17ac83;
  color: white;
  border-radius: 5px;
  border:#17ac83;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
}