* {
  margin: 0px;
  padding: 0px;
}
.nav-bar {
border: 1px solid black;
height: 55px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
padding-right: 10px;

}
.list-control {
width: 150px;
display: flex;
justify-content: space-around;
}
.body {
padding-left: 10px;
height: 500px;
}
.form {
height: 300px;
width: 240px;
padding-top: 30px;
display: flex;
flex-direction:column;
justify-content: space-between;
}
.form-control {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.submit-btn {
  display: flex;
  justify-content: flex-end;  
}
.btn {
  width: 140px;
}